.not-found {
  text-align: center;
  padding: 50px 20px;

  &__title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }

  &__message {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }

  &__link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2d7d6f;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;

    &:hover {
      background-color: darken(#2d7d6f, 10%);
    }
  }
}