.admin-layout {
  display: flex;
  min-height: 100vh;

  &__content {
    flex: 1;
    padding-left: 280px; // Ширина сайдбара
    transition: padding-left 0.3s ease;

    @media (max-width: 992px) {
      padding-left: 0;
    }
  }

  &__container {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
}