.admin-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;

  &__content {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px;
    box-sizing: border-box;
  }
}